.top-bar{
	position:relative;
	height: 65px;
	width:100%;
	z-index: 9001;
}

.top-bar-section ul {
  padding-top: 10px;
  /*
  margin: 10px 0px 0px 0px;
  */
}
#map { 
	position:absolute; 
	top:0;
	bottom:0; 
	height:100%; 
	width:100%; }
	
.legend {
	line-height: 18px;
  width: 100%;
	color: #555;
	padding: 8px;
	background-color: #FFF;
	opacity: 1.0;
}
.legend i {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 3px;
	opacity: 1.0;
	border: 1px solid #aaa;
}
